<div class="task">
  <p>
    <%= f.label :name, "Brand:" %>
    <%= f.text_field :name %>
    
    <%= f.label :Model, "Model Number:" %>
    <%= f.text_field :model %>        

    <%= f.label :Color, "Product Color:" %>
    <%= f.text_field :color %>        

    <%= f.label :Quantity, "Quantity:" %>
    <%= f.text_field :quantity %>        

  </p>
  
</div>


