<br />
<%= form_for(@order_type) do |f| %>
  <% if @order_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_type.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label 'Product Name' %></b><br />
    <%= f.text_field :name, :placeholder => "Order Item name" %>
  </div><p></p>


<div id="brands">
  <% f.fields_for :brands do |brand| %>
    <% content_for :jstemplates do -%>
    <%= "var color='#{@color_template}'" unless @color_template == 0 %>
    <% @color_template = 0 -%>
  <% end -%>

<%= render :partial => 'brand', :locals => { :f => brand } %>
<% end %>
</div>



















    <br />
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

