<h1>Listing All Products</h1>
<br />
<table summary="Software or other data table" class="sofT" cellspacing="0" border>
  <tr>
    <th scope="col">Product Name</th>
    <th scope="col">Color </th>
    <th scope="col">Brand Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_types.each do |order| %>
  <tr>
    <td><%= order.name %>
    <td><%= order.color %></td>
    <td><%= order.brand %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_type_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_type_path %>
