<h1>Listing All Products</h1>
<br />
<table>
<thead>
  <tr>
    <th scope="col">Product Name <hr /></th>
  </tr>
</thead>
<% @order_types.each do |order| %>
<tbody>
  <tr>
     <td><%= order.name %>  <hr /></td>
     <td><%= link_to 'Inventory', order %> | <hr /> </td>
     <td><%= link_to 'Show', order %> | <hr /> </td>
     <td><%= link_to 'Edit', edit_order_type_path(order) %> | <hr /> </td>
     <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %><hr /></td>
  </tr>
</tbody>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_type_path %>
