<p id="notice"><%= notice %></p>

<h1>
  <b>Product name:</b>
  <b><%= @order_type.name %></b>
</h1><br/ >

<table>
  <tr>
    <td> Brand Name</td>
    <td> Model Name</td>
    <td> color</td>
    <td> Quantity</td>
  </tr>
<% @order_type.brands.each do |p_d| %>
  <tr>
   <td><%= p_d.name %></td>
   <td><%= p_d.model %></td>
   <td><%= p_d.color %></td>
   <td><%= p_d.quantity %></td>
<% end %>
</table>
<br />


<%= link_to 'Edit', edit_order_type_path(@order_type) %> |
<%= link_to 'All Products', order_types_path %> | 
<%= link_to 'Add More', new_order_type_path %> 
