<h1> Inventory History </h1><br />
<p> ** red indicates Inventory in low of that time </p>

<table summary="Software or other data table" class="sofT" cellspacing="0" border>
<tr>
  <th scope="col">Name Of the Item</th>
  <th scope="col">Item Color</th>
  <th scope="col">Item Brand</th>
  <th scope="col">Item Quantity</th>
</tr>
<% @inventories.each do |i| %>
 <tr>
   <% if i.quantity<20 %>
     <td style ="background-color:#DC143C;color:white"><%= i.name %></td>
     <td style ="background-color:#DC143C;color:white"><%= i.color %></td>
     <td style ="background-color:#DC143C;color:white"><%= i.brand %></td>
     <td style ="background-color:#DC143C;color:white"><%= i.quantity %></td>
   <% else %>
     <td><%= i.name %></td>
     <td><%= i.color %></td>
     <td><%= i.brand %></td>
     <td><%= i.quantity %></td>
   <% end %>
 </tr>
<% end %>
</table>
<br />

<h1>Transaction History </h1><br />
<table summary="Software or other data table" class="sofT" cellspacing="0" border>
<tr>
  <th scope="col">Customer Name</th>
  <th scope="col">Product</th>
  <th scope="col">Quantity</th>
  <th scope="col">Amount</th>
  <th scope="col">Discount</th>
  <th scope="col">Advance</th>
  <th scope="col">Purchased On</th>
</tr>

<% @order.each do |o| %> 

<tr>
  <td><%= o.customer.name %><%= o.customer.middlename %><%= o.customer.surname %></td>
  <td><%= o.order_type.name %></td>
  <td><%= o.quantity %></td>
  <td><%= o.amount %></td>
  <td><%= o.discount %></td>
  <td><%= o.advance %></td>
  <td><%= o.created_at %></td>
</tr>

<% end %>
</table>
