<br /><br />
<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
      <th><%= f.label 'Customer Name' %></th><br />
      <td><%= f.collection_select:customer_id , Customer.find(:all), :id, :full_name %></td>
</div>
<br /><br />

<table id="newspaper-a" style=background-color:#D0DAFD>
   <td><b>Right EYE <b><br/>
   
 <table>

   <tr>
    <td><%= f.label :right_sph %><br />
    <%= f.text_field :right_sph %></td>
   </tr>

   <tr>
    <td><%= f.label :right_cyl %><br />
    <%= f.text_field :right_cyl %></td>
   </tr>

  <tr>
    <td><%= f.label :right_axi %><br />
    <%= f.text_field :right_axi %></td>
  </tr>
  
  <tr>
    <td><%= f.label :right_vision %><br />
    <%= f.text_field :right_vision %></td>
  </tr>
</table>

</td>
<td><b><u>Left EYE </u></b>

<table>
    <tr>
      <td scope="col"><%= f.label :left_sph %><br />
      <%= f.text_field :left_sph %></td>
    </tr>
    
    <tr>
      <td scope="col"><%= f.label :left_cyl %><br />
      <%= f.text_field :left_cyl %></td>
    </tr>

   <tr>
    <td scope="col"><%= f.label :left_axi %><br />
    <%= f.text_field :left_axi %></td>
   </tr>

   <tr>
    <td scope="col"><%= f.label :left_vision %><br />
    <%= f.text_field :left_vision %></td>
  </tr>

  </table>
 </td>

</table>
<br />
<div class="field">
   <%= f.submit %>
</div>

<% end %>
