<h1>Listing prescriptions</h1>
<br />
<table border>
 <tr><thead>
    <td></td><td></td>
    <td colspan="4" class="helpHed"> Right EYE </td>
    <td colspan="4" class="helpHed"> Left EYE </td>
 </tr> 
</thead>
  <tr>
    <td>Customer Name</td>
    <td>sph</th>
    <td>cyl</th>
    <td>axi</th>
    <td>vision</th>
    <td>sph</th>
    <td>cyl</th>
    <td>axi</th>
    <td>vision</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prescriptions.each do |prescription| %>
  <tr>
    <td class="helpHed"><%= prescription.customer.full_name %></td>
    <td><%= prescription.right_sph %></td>
    <td><%= prescription.right_cyl %></td>
    <td><%= prescription.right_axi %></td>
    <td><%= prescription.right_vision %></td>
    <td><%= prescription.left_sph %></td>
    <td><%= prescription.left_cyl %></td>
    <td><%= prescription.left_axi %></td>
    <td><%= prescription.left_vision %></td>
    <td><%= link_to 'Show', prescription %> </td>
    <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
    <td><%= link_to 'Destroy', prescription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prescription', new_prescription_path %>
