<%= form_for(@item_inventory) do |f| %>
  <% if @item_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_inventory.errors.count, "error") %> prohibited this item_inventory from being saved:</h2>

      <ul>
      <% @item_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_type_id %><br />
    <%= f.collection_select :order_type_id, OrderType.find(:all), :id , :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
