<h1>Listing item_inventories</h1>

<table>
  <tr>
    <th>Order type</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_inventories.each do |item_inventory| %>
  <tr>
    <td><%= item_inventory.order_type_id %></td>
    <td><%= item_inventory.quantity %></td>
    <td><%= link_to 'Show', item_inventory %></td>
    <td><%= link_to 'Edit', edit_item_inventory_path(item_inventory) %></td>
    <td><%= link_to 'Destroy', item_inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item inventory', new_item_inventory_path %>
