<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :middlename %><br />
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :business %><br />
    <%= f.text_field :business %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label 'Group' %><br />
    <%= f.collection_select:group_id , Group.find(:all), :id, :name %></td>
  </div>
  <div class="field">
    <%= f.label 'Categories' %><br />
    <%= f.collection_select:category_id , Category.find(:all), :id, :name %></td>

  </div>
  <div class="field">
    <%= f.label 'Religion' %><br />
    <%= f.select :religion,
                           options_for_select([["All Fields", ""],
                                               ["Hindu", "hindu"], 
                                               ["Muslim", "muslim"],
                                               ["Sikh", "sikh"],
                                               ["Christian", "christian"],
                                               ["Parsi", "parsi"]]) %>


  </div>
  <div class="field">
    <%= f.label 'Marital Status' %><br />
    <%= f.select :marital_status, options_for_select([["All Fields", ""], ["Married", "married"], ["Unmarried", "unmarried"]]) %>
  </div>

  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
