
<h1>All Customers</h1>

<table cellspacing='0' class="Design3">
 <thead>
  <tr>
    <td colspan="4" class="helpHed">Name</td>
    <td class="helpHed">City</td>
    <td class="helpHed">Phone number</td>
    <td class="helpHed">Group</td>
    <td class="helpHed">Category</td>
    <td colspan="1%"></td>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @customers.each do |customer| %>
</tbody>
  <tr>
    <td colspan="4" class="helpHed">
      <%= customer.full_name %>&nbsp;&nbsp;
    </td>
    <td><%= customer.city %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.group.name %></td>
    <td><%= customer.category.name %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</tbody>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
