
<h1>All Customers</h1>

<table summary="Software or other data table" class="sofT" cellspacing="0" border>
  <tr>
    <td colspan="4" class="helpHed">Name</td>
    <td class="helpHed">City</td>
    <td class="helpHed">Phone number</td>
    <td class="helpHed">Group</td>
    <td class="helpHed">Category</td>
    <td colspan="1%"></td>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td colspan="4" class="helpHed">
      <%= customer.name %>&nbsp;&nbsp;
      <%= customer.middlename %>&nbsp;&nbsp;
      <%= customer.surname %>
    </td>
    <td><%= customer.city %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.group.name %></td>
    <td><%= customer.category.name %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
