<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
  <b>Middlename:</b>
  <%= @customer.middlename %>
  <b>Surname:</b>
  <%= @customer.surname %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Religion:</b>
  <%= @customer.religion %>
</p>

<p>
  <b>Martial Status:</b>
  <%= @customer.marital_status %>
</p>

<p>
  <b>Area:</b>
  <%= @customer.area %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Business:</b>
  <%= @customer.business %>
</p>

<p>
  <b>Phone number:</b>
  <%= @customer.phone_number %>
</p>

<p>
  <b>Group:</b>
  <%= @customer.group.name %>
</p>

<p>
  <b>Category:</b>
  <%= @customer.category.name %>
</p>

<p>
  <b>Remark:</b>
  <%= @customer.remark %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
