<p id="notice"><%= notice %></p>

<h1><%= link_to "Generate Order", new_order_path(:customer_id => @customer), :method => :get %></h1>
<br />

<table summary="Software or other data table" class="sofT" cellspacing="0" border>
<tr>
  <td class="helpHed"><b>Name:</b>
     <%= @customer.name %>
     <%= @customer.middlename %>
     <%= @customer.surname %></td>
</tr>

<tr>
  <td class="helpHed"><b>Address:</b>
  <%= @customer.address %></td>
</tr>

<tr>
  <td class="helpHed"><b>Religion:</b>
  <%= @customer.religion %></td>
</tr>

<tr>
  <td class="helpHed"><b>Martial Status:</b>
  <%= @customer.marital_status %></td>
</tr>

<tr>
  <td class="helpHed"><b>Area:</b>
  <%= @customer.area %></td>
</tr>

<tr>
  <td class="helpHed"><b>City:</b>
  <%= @customer.city %></td>
</tr>

<tr>
  <td class="helpHed"><b>Business:</b>
  <%= @customer.business %></td>
</tr>

<tr>
  <td class="helpHed"><b>Phone number:</b>
  <%= @customer.phone_number %></td>
</tr>

<tr>
  <td class="helpHed"><b>Group:</b>
  <%= @customer.group.name %>
</tr>

<tr>
  <td class="helpHed"><b>Category:</b>
  <%= @customer.category.name %></td>
</tr>

<tr>
  <td class="helpHed"><b>Remark:</b><br />
  <%= @customer.remark %></td>
</tr>
</table>
<br />
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
