<br />
<% unless Customer.name %>
<b>   Please Create a Customer First </b>
<% else %>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
       <%= f.hidden_field :customer_id, :value=> (params[:customer_id]) %>
  </div><p></p>

  <div class="field">
    <b><%= f.label 'Order Type' %></b><br />
    <%= f.collection_select:order_type_id , OrderType.find(:all), :id, :name %></td>
  </div><p></p>

  <div class="field">
    <b><%= f.label 'Order Type Quantity' %></b><br />
       <%= f.text_field:quantity, :placeholder => "No of items" %></td>
  </div><p></p>


  <div class="field">
    <b><%= f.label :amount %></b><br />
    <%= f.text_field :amount, :placeholder => "Original Amount" %>
  </div><p></p>

  <div class="field">
    <b><%= f.label :discount %></b><br />
    <%= f.text_field :discount,:placeholder => "Discount amount" %>
  </div><p></p>

  <div class="field">
    <b><%= f.label :advance %></b><br />
    <%= f.text_field :advance, :placeholder => "Advance Amount" %>
  </div><p></p>

  <div class="field">
    <b><%= f.label :Delivery_Date %></b><br />
    <%= f.calendar_date_select :delivery_date, :placeholder => "Enter The date of delivery" %> 
  </div><p></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
