<h1>Listing orders</h1>
<br />
<table summary="Software or other data table" class="sofT" cellspacing="0" border>
  <tr>
    <td class="helpHed"> Customer Name</th>
    <td class="helpHed"> Order Type </th>
    <td class="helpHed"> Delivery date</th>
    <td class="helpHed"> Amount Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td>
        <%= order.customer.name %>
        <%= order.customer.middlename %>
        <%= order.customer.surname %></td>
    <td><%= order.order_type.name %></td>
    <td><%= order.delivery_date %></td>
    <td><% if order.balance==0.0 %></td>
             <b style = color:green> Paid </b>
         <% else %>
             <b style = color:red> Un Paid </b>
         <% end %>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
