<h1>Listing orders</h1>
<br />

<% @orders.each do |order| %>
  <div class="product">
    <h2><%= order.customer.full_name %></h2>
     <%= order.order_type.name %> </br />
    Delivery Date :<%= order.delivery_date %><br />
    <% if order.balance==0.0 %>
          <b style = color:green> Paid </b>
        <% else %>
          <b style = color:red> Un-Paid </b>
        <% end %><br />
    <p><%= link_to 'Show', order %> |
       <%= link_to 'Edit', edit_order_path(order) %> |
       <%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>
<br />

<%= link_to 'New Order', new_order_path %>
