<p id="notice"><%= notice %></p>
<% if @order.balance > 0 %>
 <h1> Pendind Amount : <%= @order.balance %> </h1>
<% end %>
<br />
<table summary="Software or other data table" class="sofT" cellspacing="0" border>
<tr>
    <td class="helpHed"><b>Customer Name:</b>
  <%= @order.customer.name %>
  <%= @order.customer.middlename %>
  <%= @order.customer.surname %></td>
</tr>

<tr>
    <td class="helpHed"><b>Amount:</b>
  <%= @order.amount %></td>
</tr>

<tr>
    <td class="helpHed"><b>Discount:</b>
  <%= @order.discount %></td>
</tr>

<tr>
    <td class="helpHed"><b>Net:</b>
  <%= @order.net %> </td>
</tr>

<tr>
    <td class="helpHed"><b>Advance:</b>
  <%= @order.advance %></td>
</tr>

<% if @order.balance >0.0 %>
<tr>
    <td class="helpHed"><b>Balance:</b>
    <b style = "color:red"><%= @order.balance %></b></td>
</tr>
<% else %>
<tr>
    <td class="helpHed"><b>Balance:</b>
    <b style = "color:green"><%= @order.balance %></b></td>
</tr>
<% end %>


<tr>
    <td class="helpHed"><b>Delivery date:</b>
  <%= @order.delivery_date %></td>
</tr>
</table>

<br />

<h4>
  <u><%= link_to 'Edit', edit_order_path(@order) %></u> |
  <u><%= link_to 'View All', orders_path %></u> |
  <u><%= link_to "Generate Bill", order_path(@order, :format => 'pdf')%></u>
</h4>
